{% extends 'base.html' %}

{% block 'title' %}
Home
{% endblock %}

{% block 'body' %}
    {% if iot_events %}
        <table>
            <tr>
                <th>Device</th>
                <th>Event Time</th>
                <th>Value</th>
            </tr>
        {% for iot_event in iot_events %}
            <tr>
                <td>{{iot_event.device}}</td>
                <td>{{iot_event.time}}</td>
                <td>{{iot_event.value}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}

</html>